:root {
    --rt-primary-color: skyblue;
}

body {

    font-family: 'Roboto', sans-serif;
    background: var(--rt-primary-color);
}

/*-------------------------
    Header Area  
--------------------------*/
.header-area {
    padding: 25px 0;
}

.header-area .logo img {
    max-width: 80%;
    height: auto;
}

/*-------------------------
    Menu Area  
--------------------------*/

.menu {
    display: flex;
    list-style: none;
    gap: 30px;
    justify-content: end;
    margin-bottom: 0;
}

.menu li a {
    color: orangered;
    /* background-color: black; */
    /* padding: 6px 15px 8px 15px; */
    text-decoration: none;
    /* border-radius: 5px; */
    font-weight: bold;
    border-bottom: 1px solid black;
    color: black;
}

.menu li a:hover {
    /* background-color: orangered; */
    transition: all 0.4s ease-in-out;
    color: orangered;
    border-color: orangered;
}

.menu li .sub-menu {
    display: none;
}

/* test */
.test {
    font-size: 20px;
    padding: 30px 0 40px 0;
    color: orange;
}



/*-------------------------
    Blog Section
--------------------------*/

.blog-post {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 6px;
    margin-bottom: 24px;
    overflow: hidden;
    background-color: rgb(220 245 255);
    padding: 15px;
}

.blog-post-section img {
    width: 100%;
    height: 350px;
    margin-bottom: 15px;
}

.blog-post .title a {
    text-decoration: none;
    color: black;
}

.post-categories {
    display: flex;
    gap: 25px;
    list-style: none;
    text-decoration: none;
    color: orange;
    padding-left: 0;
}
.post-categories li a{

    list-style: none;
    text-decoration: none;
    color: orangered;
}

.post-content {
    padding: 15px;
    border-radius: 6px;
}

/* read more */
.read-more {
    background-color: rgb(246 0 82);
    padding: 7px 10px;
    text-decoration: none;
    color: white;
    border-radius: 3px;
}


/*pagination*/

.pagination-area {
    padding: 40px 0;
}
.pagination-area ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.pagination-area li a, .pagination-area li span {
    background: skyblue;
    padding: 6px 10px;
    border-radius: 3px;
    margin: 8px;
    text-decoration: none;
    color: white;
}

.pagination-area .active a { 
    background-color: rgb(246 0 82);
}


/*-------------------------
    Sidebar   
--------------------------*/
.sidebar-wrapper {
    border: 1px solid skyblue;
    padding: 25px; 
    border-radius: 10px;
}
.sidebar-wrapper .child_sidebar {
    margin-bottom: 30px;
}

/*search*/
.sidebar-wrapper .child_sidebar .wp-block-search input {
    border-color: skyblue;
    border-radius: 4px;
}
.child_sidebar .wp-block-search button {
    background-color: rgb(246 0 82);
    border-radius: 4px;
    border-color: rgb(246 0 82);
    color: white;
}
/*latest post*/

.sidebar-wrapper .wp-block-latest-posts {
    
}
.sidebar-wrapper .wp-block-latest-posts li {
    margin-bottom: 10px;
}
.sidebar-wrapper .wp-block-latest-posts li a {
    text-decoration: none;
    color: #909090;
    padding: 5px 0;
}

.sidebar-wrapper .wp-block-tag-cloud {

}
.sidebar-wrapper .wp-block-tag-cloud a {
    background-color: rgb(246 0 82);
    padding: 3px 10px;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    font-size: 14px !important;
    margin-bottom: 7px;
    margin-right: 7px;
}



/*-------------------------
    Footer Section   
--------------------------*/


#footer-section .footer-content-area {
    background-color: black !important;
    color: white;
    padding: 15px;
    padding: 100px 0 80px 0;
}

#footer-section .child_sidebar .wp-block-search {
    margin-bottom: 24px;
}
#footer-section .child_sidebar .wp-block-search input {
    background-color: transparent;
    border-color: gray;
    border-radius: 4px;
}

#footer-section .menu-header-container ul {
    display: inline-block;
}
#footer-section .menu-header-container ul li a {
    color: white;
}
/* footer copyright */
#footer-section .copyright-area {
    background-color: black !important;
    color: white;
    padding: 20px 0;
    border-top: 1px solid #3b3b3b;
}

#footer-section .copyright-area p {
    margin-bottom: 0;
}